In [1]:
%load_ext gams_magic

In [2]:
##NOTE: THIS IS PART B; THE BINARY INTEGER FORMULATION

%%gams 
Variables value; 

positive variables ax, ay, az, bx, by, bz, cx, cy, cz;
#declare equations to represent obj and contraints

Equation obj, col1, col2, col3, row1, row2, row3;

#define equation
obj.. value =e= 10*ax + 2*ay + 4*bx + 6*by + 9*bz + 5*cx + 10*cz;

col1..  ax + bx + cx =e= 1;
col2..  ay + by + cy =e= 1;
col3..  az + bz + cz =e= 1;

row1..  ax  + ay + az =e= 1;
row2..  bx + by + bz =e= 1;
row3..  cx + cy + cz =e= 1;



model investment /obj, col1, col2, col3, row1, row2, row3/;
solve investment using lp maximizing value;

,Solver Status,Model Status,Objective,#equ,#var,Model Type,Solver,Solver Time
0,Normal (1),Optimal Global (1),26.0,7,10,LP,OSICPLEX,0

In [3]:
%gams display ax.l, ay.l, az.l, bx.l, by.l, bz.l, cx.l, cy.l, cz.l;
%gams_lst -e

E x e c u t i o n


----     28 VARIABLE ax.L                  =        1.000
            VARIABLE ay.L                  =        0.000
            VARIABLE az.L                  =        0.000
            VARIABLE bx.L                  =        0.000
            VARIABLE by.L                  =        1.000
            VARIABLE bz.L                  =        0.000
            VARIABLE cx.L                  =        0.000
            VARIABLE cy.L                  =        0.000
            VARIABLE cz.L                  =        1.000

In [14]:
%%gams
Sets
     i   classroom   / rooma, roomb, roomc /
     j   course          / coursex, coursey, coursez / ;

Parameters

     a(i)  capacity of room i in cases
       /    rooma     1
            roomb     1
            roomc     1/

     b(j)  demand of course j in cases
       /    coursex    1
            coursey    1
            coursez    1  / ;

Table d(i,j)  distance in thousands of miles
                 coursex      coursey    coursez
    rooma        10           2          -8
    roomb        4            6          9  
    roomc        5           -2          10;

Scalar f  freight in dollars per case per thousand miles  /1/ ;

Parameter c(i,j)  transport cost in thousands of dollars per case ;

          c(i,j) = f * d(i,j) ;

Variables
     x(i,j)  shipment quantities in cases
     z       total transportation costs in thousands of dollars ;

Positive Variable x ;

Equations
     cost        define objective function
     supply(i)   observe supply limit at plant i
     demand(j)   satisfy demand at market j ;

cost ..        z  =e=  sum((i,j), c(i,j)*x(i,j)) ;

supply(i) ..   sum(j, x(i,j))  =l=  a(i) ;

demand(j) ..   sum(i, x(i,j))  =g=  b(j) ;

Model transport /all/ ;

Solve transport using lp maximizing z ;

Display x.l, x.m ;

,Solver Status,Model Status,Objective,#equ,#var,Model Type,Solver,Solver Time
0,Normal (1),Optimal Global (1),26.0,14,20,LP,OSICPLEX,0

In [13]:
%gams display x.l;
%gams_lst -e

E x e c u t i o n


----    184 VARIABLE x.L

                      ( ALL       0.000 )

The two formulations are actually the same. We use the exact same mathematical process, just code it differently. Only one classroom can be chosen per test, so the flow is only 1 into each classroom times whatever the value is.